//Media/Screen Sizes
$x-x-large-screen: 1166px;
$extra-large-screen: 1024px;
$large-screen: 980px;
$medium-screen: 769px;
$small-screen: 599px;
$extra-small-screen: 479px;
$x-x-small-screen: 374px;
$xxx-small-screen: 321px;

$customer-blue: #2a66bf;
$customer-blue-light: #449fff;
$customer-blue-lighter: #ddf3fe42;
$customer-blue-dark: #2a66bf;
$customer-red: #ff0000;
$customer-light-red: #f9e6e6;
$customer-white: #fff;
$customer-grey: #F2F2F2;
$customer-grey-dark: #b3b3b3;
$customer-black: #000;
$customer-background: #fff;
$customer-warning: #FF931E;
$customer-peach: #f9b780;
$customer-peach-light: #FCDBBF;
$customer-peach-lighter: #fef8f2;
$customer-peach-background: rgba(249, 183, 128, 0.5);
$customer-peach-background-light: rgba(249, 183, 128, .1);
$customer-brown: #8e6448;
$primary: $customer-peach;
$headings-color: $customer-blue;
$body-side-margin: 3em;
$body-bottom-margin: 3em;

$primary-font-color: #000;
$primary-font-color-hover: #fff;
$secondary-font-color: #fff;
$secondary-font-color-hover: #8e6448;
$font-family-sans-serif: 'Open Sans'; //, sans-serif; //'open_sansbold', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-weight-normal: 300; //use open sans light by default

$headings-font-weight: 700; //use open sans bold

$customer-panel: #fff;
$customer-alert: #C1272D;
$customer-alert-body: #f9c7c6;
$customer-warning: #FAC496;
$customer-success: #5cb85c;
$customer-warning-body: #FDEDDF;
$customer-warning-border: #FAC496;
