@page
@model CustomerContact.Pages.Customers.CreateModel

@{
    ViewData["Title"] = "Create";
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Customer.FirstName" class="control-label"></label>
                <input asp-for="Customer.FirstName" class="form-control" />
                <span asp-validation-for="Customer.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.LastName" class="control-label"></label>
                <input asp-for="Customer.LastName" class="form-control" />
                <span asp-validation-for="Customer.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.EmailAddress" class="control-label"></label>
                <input asp-for="Customer.EmailAddress" class="form-control" />
                <span asp-validation-for="Customer.EmailAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.AddressLine1" class="control-label"></label>
                <input asp-for="Customer.AddressLine1" class="form-control" />
                <span asp-validation-for="Customer.AddressLine1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.AddressLine2" class="control-label"></label>
                <input asp-for="Customer.AddressLine2" class="form-control" />
                <span asp-validation-for="Customer.AddressLine2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.AddressCity" class="control-label"></label>
                <input asp-for="Customer.AddressCity" class="form-control" />
                <span asp-validation-for="Customer.AddressCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.AddressPostCode" class="control-label"></label>
                <input asp-for="Customer.AddressPostCode" class="form-control" />
                <span asp-validation-for="Customer.AddressPostCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.ContactNumber" class="control-label"></label>
                <input asp-for="Customer.ContactNumber" class="form-control" />
                <span asp-validation-for="Customer.ContactNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.DateOfBirth" class="control-label"></label>
                <input asp-for="Customer.DateOfBirth" class="form-control" />
                <span asp-validation-for="Customer.DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.Organisation" class="control-label"></label>
                <input asp-for="Customer.Organisation" class="form-control" />
                <span asp-validation-for="Customer.Organisation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.SaleLevel" class="control-label"></label>
                <select asp-for="Customer.SaleLevel" class="form-control">
                    <option value="">-</option>
                    @foreach (SaleLevels saleLevel in Enum.GetValues(typeof(SaleLevels))) {
                        <option value="@((int)saleLevel)">@saleLevel.GetMinText()</option>
                    }
                </select>
                <span asp-validation-for="Customer.SaleLevel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
