@page
@model CustomerContact.Pages.Customers.EditModel
@{
}

@section Scripts {
    <script src="~/js/CustomersEdit.js" asp-append-version="true"></script>
}

<input type="hidden" id="CustomersApiGetUrl" value="@Url.Action("Get", "CustomersApi")" />
<input type="hidden" id="CustomeCommentsPostUrl" value="@Url.Action("Post", "CustomerCommentsApi")" />

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <input type="hidden" asp-for="Customer.CustomerID" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Customer.FirstName" class="control-label"></label>
                <input asp-for="Customer.FirstName" class="form-control" />
                <span asp-validation-for="Customer.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.LastName" class="control-label"></label>
                <input asp-for="Customer.LastName" class="form-control" />
                <span asp-validation-for="Customer.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.EmailAddress" class="control-label"></label>
                <input asp-for="Customer.EmailAddress" class="form-control" />
                <span asp-validation-for="Customer.EmailAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.AddressLine1" class="control-label"></label>
                <input asp-for="Customer.AddressLine1" class="form-control" />
                <span asp-validation-for="Customer.AddressLine1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.AddressLine2" class="control-label"></label>
                <input asp-for="Customer.AddressLine2" class="form-control" />
                <span asp-validation-for="Customer.AddressLine2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.AddressCity" class="control-label"></label>
                <input asp-for="Customer.AddressCity" class="form-control" />
                <span asp-validation-for="Customer.AddressCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.AddressPostCode" class="control-label"></label>
                <input asp-for="Customer.AddressPostCode" class="form-control" />
                <span asp-validation-for="Customer.AddressPostCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.ContactNumber" class="control-label"></label>
                <input asp-for="Customer.ContactNumber" class="form-control" />
                <span asp-validation-for="Customer.ContactNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.DateOfBirth" class="control-label"></label>
                <input asp-for="Customer.DateOfBirth" class="form-control" />
                <span asp-validation-for="Customer.DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.Organisation" class="control-label"></label>
                <input asp-for="Customer.Organisation" class="form-control" />
                <span asp-validation-for="Customer.Organisation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.SaleLevel" class="control-label"></label>
                <select asp-for="Customer.SaleLevel" class="form-control">
                    <option value="">-</option>
                    @foreach (SaleLevels saleLevel in Enum.GetValues(typeof(SaleLevels))) {
                        <option value="@((int)saleLevel)">@saleLevel.GetMinText()</option>
                    }
                </select>
                <span asp-validation-for="Customer.SaleLevel" class="text-danger"></span>
            </div>
            <button class="btn btn-default">Save changes</button>
        </form>
    </div>
</div>

<h2 style="margin-top: 40px;">Comments</h2>
<table id="Comments" class="table table-striped">
    <thead>
        <tr>
            <th>Timestamp</th>
            <th>Comment</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<div>
    <button type="button" data-toggle="modal" data-target="#CreateCommentModal" class="btn btn-default">Create comment</button>
</div>

<div style="margin-top: 40px;">
    <a asp-page="Index">Back to list</a>
</div>

<div class="modal" tabindex="-1" id="CreateCommentModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title">Create comment</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="CreateCommentForm">
                    <div class="form-group">
                        <label for="Comment" class="control-label">Comment</label>
                        <textarea name="Comment" class="form-control" rows="5"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" id="CreateComment" form="CreateCommentForm">Create comment</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>